* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    background-color: black;
}
#btn_close {
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
#image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}